// Place all the styles related to the Courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.right {
  float: right;
  display: inline;
}
.timestamp {
  color: gray;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}

.passed-sign-color {
  color: crimson;
}

.star {
  color: crimson;
  font-size: 2em;
}

.border-right {
  border-right: 1px solid lightgray;
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  width: 100%;
  height: auto;
  margin-bottom: 12px;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
}

.rangeslider__value-bubble {
  border: 1px solid #ccc;
  display: block;
  padding: 5px;
  position: absolute;
  bottom: 100%;
  margin-bottom: 25px;
  width: 100px;
  margin-left: -50px;
  text-align: center;
  border-radius: 5px;

  &:before,
  &:after {
    border-width: 11px;
    border-style: solid;
    border-color: transparent;
    content: "";
    display: block;
    margin: auto;
    width: 10px;
    position: absolute;
    left: 0;
    right: 0;
  }
  &:before {
    border-top-color: #ccc;
    border-bottom-width: 0;
    bottom: -11px;
  }
  &:after {
    border-top-color: #fff;
    border-bottom-width: 0;
    bottom: -10px;
  }
}

.rangeslider__fill{
  background-color: #f44336 !important;
}

.range-input {
  margin-top: 80px;
  margin-bottom: 20px;
}

.modal-footer {
  margin-top: 40px;
}

.btn-close {
  margin-top: 10px !important;
}
.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
  border-color: #f55549;
  background-color: #f55549;
}

button.list-group-item.active{
  border-color: #f55549;
  background-color: #f55549;
}
.list-group-item.active{
  border-color: #f55549;
  background-color: #f55549;
}

.pagination{
  margin-top: 0px;
}

.panel-body {
  padding: 5px;
}
