.pad {
  display: inline-block;
  padding-left: 2px;
}

.panel-heading {
  text-align: center;
}

body{
  background-image: url("background.jpg");
  background-color: #F7F7F7;
}

.nav-text-color{
  border-radius: 20px;
  font-size: 18px;
  font-weight: 500;
}

.sign_in{
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #B00100;
}

.sign_in:hover{
  color: white;
}

.header-box{
  box-sizing: content-box;
}

.dropdown-menu{
  left: auto;
  width: 200px;
  opacity: 0.8;
  color: #fff;
  border-radius: 0;
  background-color: #333333;
}

.dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #fff;
    white-space: nowrap;
}

.dropdown-menu > li > a:hover {
    color: #f44336 !important;
}

.header-box-info{
  display:none;
  color: #ffffff;
  padding: 50px;
  background: #333333;
  opacity: 0.8;
  height:200px;
  position: absolute;
  left: 0;
  right: 0;
}

.header-box:hover .header-box-info {
  display: block;
  position: absolute;
  z-index: 9999;
  margin-top: 7px;
}

.header-box-info:hover {
  display: block;
}

.nav li {
  position: static;
}

.container{
  height: 72px;
}

.navbar-brand{
  margin-top: -15px;
}

.navbar{
  background-color: #ffffff !important;
}

.navbar-default .navbar-nav > li > a:hover{
  color: rgb(189, 30, 30);
}

.navbar-nav{
  float: right;
}

.navbar-nav > li {
  padding: 7px 20px;
  cursor: pointer;
}

.navbar-default .navbar-nav > li > a{
  color: #000000 !important;
}

.navbar-toggle{
  margin: 10px 10px;
}

.nav > li > a{
  color: #f44336
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: #fff;
    background-color: #f44336;
}

.avatar-header{
  width: 24px;
  height: 24px;
  border-radius: 12px;
  margin-left: 8px;
}

.search-container{
  z-index: 99;
  height: 270px;
  background-image: url("1.jpg");
  background-size: cover;
  filter: blur(3px);
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  margin-bottom: 0;
}

.search-image{
  background-image: url("search.png");
  background-size: contain;
  height: 100%;
}

.search-box{
  background-color: #f44336;
  color: #fff;
  display: inline-block;
  height: 100%;
}

.search-form{
  position: absolute;
  top: -100px;
  z-index: 120;
  color: red;
  font-size: 40px;
}

.form-field-search{
  width: 100% !important;
  color: #fff !important;
  font-size: 18px;
}

.slogon{
  position: relative;
  text-align: center;
  top: -230px;
  left: 240px;
  font-size: 40px;
  color: #fff;
  text-shadow: 1px 1px 8px rgba(0, 0, 0, 2.6);
}

.alert-success{
  background-color: #f44336 !important;
}

.geo_map{
  background-color: #fff;
}

.header-title{
  position: relative;
  top: -20px;
  font-size: 35px;
  text-align: center;
  margin-bottom: 5px;
}

.header-title-top{
  margin-top: 30px;
}

.geo-text{
  text-align: left;
  padding: 0 40px;
  font-size: 14px;
}

.btn-home-message{
  float: right;
}

.btn-home-message-sign-up{
  float: right;
  width: 140px;
}

.geo-count-and-button{
  margin-top: 15px;
}

.geo-count{
  height: 35px;
  font-size: 20px;
  padding-top: 3px;
  margin: 10px 0;
  text-align: center;
}

.part-of-us{
  height: 430px;
  margin-top: 0;
}

.image-courses{
  height: 250px;
}

.image-courses-block{
  width: 350px;
  height: 100%;
  background-color: #f44336;
}

.btn-right{
  float: right !important;
}

.sign-in-image{
  margin-left: 65px;
  margin-top: 15px;
  height: 400px;
  width: 450px;
  background-image: url("tree.png");
  background-size: contain;
}

.sign-in-slogan{
  position: relative;
  margin-top: -150px;
  margin-left: 60px;
  display: block;
  height: 130px;
  width: 420px;
  background-color: #f44336;
  color: #fff;
  font-size: 35px;
  padding-top: 37px;
  text-align: center;
}

.search-block-end{
  position: relative;
  top: -60px;
}

.header-title-top-part{
  top: -35px;
  margin-bottom: 0;
}


.carousel-control.left{
  width: 70px;
  height: 307px;
}
.carousel-control.right{
  width: 70px;
  height: 307px;
}

.carousel-well{
  width: 258px;
  height: 267px;
}

.text-center-img{
  margin: 20px 0;
}

.has-error-birthdate{
  margin-bottom: 0 !important;
}

.datetimepicker{
  margin-left: 15px;
}

.well.my{
  height: 145px;
  width: 370px;
}

h2.center{
  text-align: center;
}

.course-container{
  width: 600px;
}

h1.center{
  text-align: center;
}



