.img-ciricle {
  border-radius: 50%;
}
.org-container{
  z-index: 99;
  height: 270px;
  background-image: image-url("search-box.png");
  background-size: cover;
  margin-bottom: 0;
}
.partners.col-lg-7{
  position: relative;
  text-align: center;
  top: -230px;
  left: 240px;
  font-size: 40px;
  color: red;
}
.thumbnail{
  width: 260px;
  height: 300px;
}

h5.center{
  text-align: center;
}
